#aboutMeContainer {
    padding: 0rem 6rem 6rem 6rem;
    display: flex;
    margin: 0px;
}

#aboutMeText {
    margin-left: 4rem;
}

#profileImage {
    max-height: 300px;
}

@media (max-width: 800px) {
    #aboutMeContainer {
        padding: 0rem 3rem 3rem 3rem;
    }
    #profileImage {
        max-height: 200px;
    }
    #aboutMeText {
        margin-left: 2rem;
    }
}

@media (max-width: 532px) {
    #aboutMeContainer {
        padding: 0rem 2rem 2rem 2rem;
    }
    #profileImage {
        display: none;
    }
    #aboutMeText {
        margin-left: 1rem;
    }
}