.sectionHeader {
    width: 100%;
    display: flex;
    background-color: rgb(237, 26, 59);
    height: 280px;
}

#experience>section {
    height: 50rem;
}

.jobHeaderText {
    flex-direction: column;
    margin: 3rem;
    min-width: 18rem;
    max-width: 18rem;
}

.jobHeaderText p {
    color: white;
    text-align: end;
}

.jobInfoText {
    font-size: 0.75rem;
}

.jobIntroText {
    padding: 3rem;
    width: 40%;
    text-align: right;
}

.skillsContainer {
    margin-top: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}


#vfxImage {
    background-image: url(../Images/vfxImage.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 280px;
}

/* VFX Specific - End */

/* Graphic Design Specific - Start */

#graphicsImage {
    background-image: url(../Images/graphicsImage.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;
    height: 280px;
}

/* Graphic Design Specific - End */

/* Computer Technician Specific - sTART */

#techImage {
    background-image: url(../Images/techImage.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;
    height: 280px;
}

/* Computer Technician Specific - End */

/* Media */

@media (min-width: 1170px) {
    #vfxImage {
        background-position-x: right;
    }
}

@media (max-width: 1170px) {
    
}

@media (max-width: 800px) {
    
}

@media (max-width: 532px) {
    .sectionHeader {
        justify-content: flex-end;
    }
    .sectionHeader>picture {
        display: none;
    }
    .jobInfoText {
        display: none;
    }
    .jobIntroText {
        width: 100%;
    }
    
}

/* Animations */

@keyframes opacityAppear {}