.sectionHeader {
    width: 100%;
    display: flex;
    padding: 3rem;
    background-color: rgb(237, 26, 59);
}

#experience>section {
    /* margin: 10rem 0rem; */
}

.skillsContainer {
    margin-top: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.skillsRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.wrapper {
    position: relative;
    padding: 0%;
    display: flex;
    justify-content: center;
    width: 33.3%;
    height: 240px;
    overflow: hidden;
}

.wrapper>video {
    width: auto;
    height: 240px;
}

.wrapperBkg {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s;
}

.wrapperBkg>div {
    padding-top: 1.5rem;
    padding-left: 3rem;
    max-width: 80%;
}

.wrapperBkg p {
    margin: 0.5rem 0rem;
}

.skillsDesc {
    opacity: 0;
    transition: opacity 0.75s;
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    opacity: 0;
    transition: opacity 0.75s;
    transform: translateX(-1rem);
}

.iconsContainer>div {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    align-items: center;
}

.iconsContainer img {
    height: 50%;
    width: auto;
}

.jobHeaderText {
    flex-direction: column;
    margin-right: 3rem;
    width: 25%;
}

.jobIntroText {
    margin-left: 3rem;
}

#moviesList {
    display: inline;
}

/* Specifics - START */

#graphicsImage {
    background-image: url(../Images/graphicsImage.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;
    height: 280px;
}

#techImage {
    background-image: url(../Images/techImage.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;
    height: 280px;
}

/* Specifics - END */

/* Media */

@media (min-width: 1440px) {
    .wrapper>video {
        width: 100%;
        height: none;
    }
}

@media (min-width: 1170px) {
    #graphicsImage {
        background-position-x: right;
    }
    #techImage {
        background-position-x: right;
    }
}

@media (max-width: 1170px) {}

@media (max-width: 800px) {
    .sectionHeader {
        padding: 2rem;
    }
    .wrapperBkg>div {
        padding-top: 1rem;
        padding-left: 2rem;
        max-width: 80%;
    }
    .jobHeaderText {
        margin-right: 2rem;
    }
    .jobIntroText {
        margin-left: 2rem;
    }
    .iconsContainer img {
        height: 35%;
        width: auto;
    }
}

@media (max-width: 532px) {
    .sectionHeader {
        justify-content: flex-end;
        padding: 1rem;
    }
    .sectionHeader>picture {
        display: none;
    }
    .jobHeaderText {
        margin-right: 1rem;
    }
    .jobInfoText {
        display: none;
    }
    .jobIntroText {
        width: 100%;
        margin-left: 1rem;
    }
    .wrapperBkg>div {
        padding-top: 0.5rem;
        padding-left: 1rem;
        max-width: 90%;
    }
    .iconsContainer {
        display: none;
    }
    #moviesList {
        display: none;
    }
    
}

/* Animations */

@keyframes opacityAppear {}