.sectionHeader {
    width: 100%;
    display: flex;
    background-color: rgb(237, 26, 59);
    height: 280px;
}

#experience>section {
    height: 50rem;
}

.skillsContainer {
    margin-top: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.skillsRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.wrapper {
    padding: 0%;
    display: flex;
    width: 33.3%;
    height: 240px;
    overflow: hidden;
}

.wrapper>video {
    position: relative;
    top: 0%;
    left: 0%;
    width: auto;
    height: 240px;
}

.wrapper>div {
    position: relative;
    top: 0%;
    left: 0%;
}

.jobHeaderText {
    flex-direction: column;
    margin: 3rem;
    min-width: 18rem;
    max-width: 18rem;
}

.jobHeaderText p {
    color: white;
    text-align: end;
}

.jobInfoText {
    font-size: 0.75rem;
}

.jobIntroText {
    padding: 3rem;
    width: 40%;
    text-align: right;
}

/* Specifics - START */

#vfxImage {
    background-image: url(../Images/vfxImage.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 280px;
}

#graphicsImage {
    background-image: url(../Images/graphicsImage.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;
    height: 280px;
}

#techImage {
    background-image: url(../Images/techImage.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;
    height: 280px;
}

/* Specifics - END */

/* Media */

@media (min-width: 1170px) {
    #vfxImage {
        background-position-x: right;
    }
    #graphicsImage {
        background-position-x: right;
    }
    #techImage {
        background-position-x: right;
    }
}

@media (max-width: 1170px) {}

@media (max-width: 800px) {}

@media (max-width: 532px) {
    .sectionHeader {
        justify-content: flex-end;
    }
    .sectionHeader>picture {
        display: none;
    }
    .jobInfoText {
        display: none;
    }
    .jobIntroText {
        width: 100%;
    }
}

/* Animations */

@keyframes opacityAppear {}