#headerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 12rem;
    overflow: hidden;
}

#nameContainer {
    margin-top: 10rem;
    margin-left: 6rem;
    width: 26rem;
    height: 10rem;
    animation: slideInTop 0.25s ease-in-out 0.5s 1;
    animation-fill-mode: backwards;
}

#aboutMeContainer {
    margin-top: 6rem;
    display: flex;
}

#aboutMeText {
    animation: slideInRight 0.5s ease-in-out 1s 1;
    animation-fill-mode: backwards;
    margin-left: 4rem;
    max-width: 60%;
    margin-top: 0;
    text-align: justify;
}

#aboutMeText p {
    margin-top: 0;
}

#downloadCV {
    position: relative;
    border: 1px rgba(255, 255, 255, .1) solid;
    background-color: transparent;
    width: 8rem;
    height: 2.5rem;
    margin: 0;
    transition: background-color 0.5s;
}

#downloadCV:hover {
    position: relative;
    background-color: #ED1A3B;
}

#tooltipText {
    text-align: left;
    position: absolute;
    top: -.35rem;
    left: 8rem;
    margin-left: 1rem;
    padding: 1rem;
    border: 1px rgba(255, 255, 255, .1) solid;
    background-color: #332e2d;
    width: 14rem;
    opacity: 0;
    transition: opacity .75s;
    z-index: 2;
}

#CVtooltip:hover {
    visibility: visible;
}

#profileImage {
    animation: slideInLeft 0.5s ease-in-out 0.75s 1;
    animation-fill-mode: backwards;
    max-height: 300px;
}

/* Corners */

.corners {
    position: relative;
    left: -2.25rem;
    top: -0.7rem;
    display: flex;
    justify-content: space-between;
}

.corners div {
    background-color: white;
}

.corners .horizontal {
    height: 0.35rem;
    width: 1rem;
}

.corners .vertical {
    height: 0.7rem;
    width: 0.35rem;
}

/* Corners end*/

/* Media */

@media (min-width: 1170px) {}

@media (max-width: 800px) {
    #headerContainer {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }
    #nameContainer {
        margin-top: 6rem;
        margin-left: 4.75rem;
        width: 19rem;
        height: 10rem;
    }
    #aboutMeContainer {
        margin-top: 3rem;
    }
    #aboutMeText {
        margin-left: 2rem;
        max-width: unset;
    }
    #profileImage {
        max-height: 200px;
    }
}

@media (max-width: 532px) {
    #headerContainer {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    #nameContainer {
        margin-top: 3rem;
        margin-left: 2rem;
        width: 14rem;
        height: 6rem;
    }
    #aboutMeContainer {
        margin-top: 2rem;
    }
    #aboutMeText {
        margin-left: 0rem;
    }
    #profileImage {
        display: none;
    }
}

/* Animation */

@keyframes slideInTop {
    from {
        transform: translateY(-1000%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(1000%);
    }
    to {
        transform: translateY(0);
    }
}