#headerContainer {
    background-image: url("../Images/bkgTriangles.png");
    background-position-x: center;
    top: 0%;
    display: flex;
    justify-content: center;
    height: 600px;
}

@keyframes slideLeft {
    0% {
        transform: translateY(-800px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes blink {
    0% {
        color: white;
    }
    50% {
        color: rgb(237, 26, 59);
    }
    100% {
        color: white;
    }
}

@keyframes corners {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#nameContainer {
    animation: 0.15s ease-in 0s 1 slideLeft;
    position: absolute;
    top: 13.5rem;
    left: 12rem;
    width: 26rem;
    height: 10rem;
}

#nameContainer h1 {
    animation: 0.25s linear 0.5s 1 blink;
}

/* Corners */

.corners {
    
    position: relative;
    left: -2.25rem;
    top: -0.7rem;
    display: flex;
    justify-content: space-between;
}

.corners div {
    background-color: white;
}

.corners .horizontal {
    height: 0.35rem;
    width: 1rem;
}

.corners .vertical {
    height: 0.7rem;
    width: 0.35rem;
}

/* Corners end*/

/* Media */

@media (min-width: 1080px) {
    #headerContainer {
        background-size: cover;
    }
}

@media (max-width: 800px) {
    #headerContainer {
        height: 400px;
    }
    #nameContainer {
        top: 8.5rem;
        left: 7.8rem;
        width: 19rem;
        height: 10rem;
    }
}

@media (max-width: 532px) {
    #headerContainer {
        height: 300px;
    }
    #nameContainer {
        top: 6.5rem;
        left: 50%;
        transform: translateX(-33%);
        width: 15rem;
        height: 10rem;
    }
}