body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(14, 15, 16);
    font-size: 1rem;
    font-weight: 300;
    color: rgb(200, 200, 200);
}

.sectionMargin {
    margin: 6rem 6rem;
}

.font-XL {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    line-height: 2.7rem;
}

.font-L {
    font-size: 2.2rem;
    font-weight: 900;
    color: white;
    line-height: 2rem;
}

.font-M {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgb(200, 200, 200);
}

/* Media */

@media (max-width: 800px) {
    .font-XL {
        font-size: 2rem;
        line-height: 1.9rem;
    }
    .font-L {
        font-size: 1.6rem;
        line-height: 1.4rem;
    }
    .font-M {
        font-size: 1rem;
    }
    .font-S {
        font-size: 0.8rem;
    }
}

@media (max-width: 532px) {
    .font-XL {
        font-size: 1.4rem;
        line-height: 1.3rem;
    }
    .font-L {
        font-size: 1rem;
        line-height: 1rem;
    }
    .font-M {
        font-size: 0.8rem;
    }
    .font-S {
        font-size: 0.8rem;
    }
}