body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(14, 15, 16);
}

.sectionMargin {
    margin: 6rem 6rem;
}

.fontLarge {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    line-height: 2.7rem;
}

.fontMedium {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgb(200, 200, 200);
}

.fontSmall {
    font-size: 1rem;
    font-weight: 300;
    color: rgb(200, 200, 200);
}



@media (max-width: 800px) {
    .fontLarge {
        font-size: 2rem;
        line-height: 1.9rem;
    }
    .fontMedium {
        font-size: 1rem;
    }
    .fontSmall {
        font-size: 0.8rem;
    }

}

@media (max-width: 532px) {
    .fontLarge {
        font-size: 1.4rem;
        line-height: 1.3rem;
    }
    .fontMedium {
        font-size: 0.8rem;
    }
    .fontSmall {
        font-size: 0.8rem;
    }
}