body {
    background-image: url(../Images/bkgTriangles.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -40rem;
    background-position-y: center;
    font-family: 'Lato', sans-serif;
    background-color: rgb(14, 15, 16);
    font-size: 1rem;
    font-weight: 300;
    color: white;
    margin: 0%;
    padding: 0%;
}

#pageContainer {
    margin: auto;
    max-width: 90%;
}

.subsection {
    margin: 20rem 0rem;
}

.borderBottom {
    border-bottom: 0.1rem solid rgb(40, 40, 40);
}

.sectionName {
    color: rgb(237, 26, 59);
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    height: 20rem;
    width: auto;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

}

.font-XL {
    font-size: 3rem;
    font-weight: 900;
    line-height: 2.7rem;
    text-transform: uppercase;
}

.font-L {
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 2rem;
    text-transform: uppercase;
}

.font-M {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: normal;
}

.font-S {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: normal;
}

.font-XS {
    font-size: .8rem;
    font-weight: 300;
    line-height: normal;
}

/* Media */

@media (max-width: 800px) {
    .font-XL {
        font-size: 2rem;
        line-height: 1.9rem;
    }
    .font-L {
        font-size: 1.6rem;
        line-height: 1.4rem;
    }
    .font-M {
        font-size: 1rem;
    }
    section {
        margin: 3rem 0rem;
    }
}

@media (max-width: 532px) {
    .font-XL {
        font-size: 1.4rem;
        line-height: 1.3rem;
    }
    .font-L {
        font-size: 1rem;
        line-height: 1rem;
    }
    .font-M {
        font-size: 0.8rem;
    }
    section {
        margin: 2rem 0rem;
    }
}