nav {
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: left;
    cursor: default;
    background-color: #202020;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .35);
    transform-origin: top;
    transform: translate(0, 0);
}

.hamburgerMenuDrop {
    animation-name: hamburgerMenuDrop;
    animation-timing-function: ease;
    animation-duration: .25s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.hamburgerMenuRaise {
    animation-name: hamburgerMenuRaise;
    animation-timing-function: ease;
    animation-duration: .25s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes hamburgerMenuDrop {
    0% {
        transform: translate(0, -10.25rem);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes hamburgerMenuRaise {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -10.25rem);
    }
}

#hamburgerContainer {
    display: none;
    justify-content: flex-end;
    height: 2.5rem;
}

#hideNavBar {
    display: none;
    justify-content: center;
    height: 1.5rem;
}

#arrowUp {
    height: 1.5rem;
    width: 100%;
    position: relative;
    padding: 0 1rem;
    background-color: #171717;
    transition: all .35s;
}

#arrowUp:hover {
    background-color: #ED1A3B;
}

#hamburger {
    position: relative;
    height: 2.5rem;
    width: 1.5rem;
    padding: 0 1rem;
    background-color: #171717;
    transition: all .35s;
    border-left: 1px solid #303030;
}

#hamburger:hover {
    background-color: #ED1A3B;
}

#navBar {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10vw;
}

nav a {
    cursor: default;
}

nav div {
    text-align: center;
}

#navBar>div {
    border-left: 1px solid #303030;
}

#navBar>div:last-child {
    border-right: 1px solid #303030;
}

nav p {
    padding-top: 0.5rem;
    margin: 0;
}

.navBtn, .subNavBtn {
    height: 2.5rem;
    width: 12rem;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    transition: width 0.5s;
    background-color: #171717;
    transition: background-color 0.25s;
}

.subNavBtn {
    border-top: 1px solid rgba(255, 255, 255, .1);
    background-color: #252525;
}

#subNavContent {
    position: absolute;
    top: 2.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s ease 0s, height .35s;
}

.navBtn:hover, .subNavBtn:hover {
    background-color: #ED1A3B;
}

.subNavBtn {
    height: 2.5rem;
    transition: all 0.5s;
}

@media screen and (max-width: 800px) {
    .navBtn, .subNavBtn {
        width: 8rem;
    }
    #navBar {
        padding-left: 0;
    }
}

@media screen and (max-width: 532px) {
    nav {
        direction: column;
        justify-content: center;
        transform: translate(0, -10.25rem);
    }
    #navBar {
        width: 100%;
        flex-direction: column;
    }
    #hamburgerContainer {
        display: flex;
    }
    .navBtn, .subNavBtn {
        width: 100%;
        border-bottom: 1px solid #383838;
    }
    .navBtn, .subNavBtn {
        border-bottom: 1px solid #383838;
    }
    #subNavContent {
        position: unset;
        height: 0;
    }
}